
.link{
    display: flex;
    align-items: cover;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 50px;
    padding: 5px;
  }
  .link:hover{
   width: 70%;
    background-color: #86a5b8;
    color: #2a2f32;
    padding: 3px;
    /* transition: color 100ms ease-out; */
  }
  .link > h2{
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
  }
  .icon{
    font-size: 25px;
    margin-right: 3px;
  }
  