.login-container{
    display:flex;
    flex-direction: column;
    
}
.login-box{
    border:2px solid gray;
    text-align: center;
    padding:40px;
    width:40%;
    padding:10px;
    margin:40px auto;
    display:flex;
    flex-direction: column;
}
.login__twitterIcon{
    color: var(--twitter-color);
    font-size: 60px !important;
    text-align: center;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: center;
}
.input{
    padding:10px
}
.signup-bar{
    width:100%;
    height: 50px;
    text-align: center;
    padding:5px;
    color:white;
    background: black;
}